@model TodoVentasModel
@{
    ViewData["Title"] = "Choferes";

}


<div class="">
    <div class="row">
        <div class="col col-sm-2">
            <a href="#" onclick="loadPartial('@Url.Action("Guardar", "Chofer")',document.querySelector('.toolbar button[data-url=\'/Chofer/Index\']'));return false;" class="btn btn-warning"> Nuevo </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"><input type="text" class="form-control" id="searchInput" placeholder="[Buscar]"></div>
    </div>
    <div class="row">
        <table class="table table-hover" id="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model._ListaChofer)
                {
                    //<tr onclick="openPopup('@Url.Action("Modificar", "Chofer", new { id=item.Id })','/Chofer/Index');return false;">
                     <tr onclick="loadPartial('@Url.Action("Modificar", "Chofer", new { id = item.Id })',document.querySelector('.toolbar button[data-url=\'/Chofer/Index\']'));return false;"> 
                        <td>@item.Id</td>
                        <td>@item.Nombre</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



