@model List<ProspectoModel>
@{
    ViewData["Title"] = "Prospectos";

}

<br />
<h5>Prospectos de cliente</h5>
<br />


<div class="card shadow-sm mb-4">
    <div class="card-body">
        <div class="row g-3">
            <div class="col-md-4 col-sm-4"><input type="text" class="form-control" id="searchInput" placeholder="[Buscar]"></div>
            <div class="col-md-4 col-sm-4">
                <button type="button" class="btn text-white" style="background-color:#8F0000;"
                        onclick="loadPartial('@Url.Action("Guardar", "Prospecto")',document.querySelector('.toolbar button[data-url=\'/Prospecto/Index\']'));return false;">
                    Nuevo prospecto
                </button>
            </div>
        </div>
    </div>
</div>

<div class="card shadow-sm mb-4">
    <div class="card-header text-white" style="background-color:#8B0000;">Prospectos registrados</div>
    <div class="card-body">
        <div class="row g-3">
            @foreach (var item in Model)
            {
                <div class="col-md-4 mb-3" onclick="loadPartial('@Url.Action("Modificar", "Prospecto", new { id = item.Id })',document.querySelector('.toolbar button[data-url=\'/Prospecto/Index\']'));return false;">
                    <div class="card h-100">
                        <img src="@item.RutaFotoFachada" class="card-img-top" alt="Foto fachada prospecto" style="max-height:200px;object-fit:cover" />
                        <div class="card-body">
                            <p class="card-text"><strong>Nombre:</strong>@item.NombreComercial</p>
                            <p class="card-text"><strong>Atendido por:</strong>@item.PersonaAtendio</p>
                            <p class="card-text">
                                <strong>¿Crédito?</strong>
                                @if (item.Credito > 0)
                                {
                                    <label>Sí</label>
                                }
                                else
                                {
                                    <label>No</label>
                                }
                            </p>
                            <p class="card-text"><strong>Cantidad de visitas:</strong>@item.CantidadVisitas</p>
                            <p class="card-text"><strong>No. Tiendas:</strong>@item.NumeroTiendas</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


