@model TodoVentasModel
@{
    
}
<h5>Clientes registrados</h5>



<div class="card shadow-sm mb-4">
    <div class="card-body">
        <div class="row g-3">
            <div class="col-md-4 col-sm-4"><input type="text" class="form-control" id="searchInput" placeholder="[Buscar]"></div>
            <div class="col-md-8 col-sm-8"></div>
        </div>
    </div>
</div>

<div class="card shadow-sm mb-4">
    <div class="card-header bg-secondary text-white">Clientes registrados</div>
    <div class="card-body">
        <div class="row g-3">
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th scope="col">Codigo de Cliente</th>
                        <th scope="col">Razon Social</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Concepto</th>
                        <th scope="col">RFC</th>
                        <th scope="col">Clasificacion</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model._ListaCliente)
                    {
                        <tr class="alert alert-light">
                            <td>@item.CodigoSap</td>
                            <td>@item.RazonSocial</td>
                            <td>@item.Direccion</td>
                            <td>@item.Concepto</td>
                            <td>@item.RFC</td>
                            <td>@item.Clasificacion</td>


                        </tr>
                    }




                </tbody>
            </table>
        </div>
    </div>
</div>