@using Plataforma_CG.Models.Reportes.ViewModels
@using Plataforma_CG.Models.Reportes.Enums
@model List<FiltroReporteViewModel>


    <div class="row g-3 mb-4">


    @foreach (var filtro in Model.Where(x => x.Visible))
    {
        
        <div class="col-md-3">

            <label class="from-label">
                @filtro.Label
            </label>


            @if (filtro.Tipo == TipoFiltroReporte.Texto)
            {
                <input type="text"
                        name="@filtro.Key"
                        value="@filtro.Valor"
                        class="form-control"
                       onchange="this.form.submit()" />
            }

            else if (filtro.Tipo == TipoFiltroReporte.Fecha)
            {
                <input type="date"
                        name="@filtro.Key"
                        value="@filtro.Valor"
                        class="form-control"
                       onchange="this.form.submit()" />
            }

            else if (filtro.Tipo == TipoFiltroReporte.Numero)
            {
                <input type="number"
                        name="@filtro.Key"
                        value="@filtro.Valor"
                        class="form-control" 
                       onchange="this.form.submit()" />
            }

            else if (filtro.Tipo == TipoFiltroReporte.Select)
            {
                <select name="@filtro.Key"
                        class="form-select" onchange="this.form.submit()">

                    <option value="">
                        Todos
                    </option>  

                    @foreach (var opcion  in filtro.Opciones)
                    {
                        <option value="@opcion.Value">
                            @opcion.Text
                        </option>
                    }
                </select>

              
            }
        </div>
    }
</div>