@model TodoPlanModel

@{
    int index = 0;
}

<div class="table-responsive mt-3 p-3 border border-danger rounded shadow-sm" style="background-color:#fff3f3;">
    <h4 class="mb-4 text-center text-dark fw-bold">Semana del @Convert.ToDateTime(Model._TodSemanal._PlanSemanal.FechaIn).ToString("ddd dd/MM/yyyy").ToUpper() al @Convert.ToDateTime(Model._TodSemanal._PlanSemanal.FechaFin).ToString("ddd dd/MM/yyyy").ToUpper()</h4>
    <h3 class="mb-4 text-center text-dark fw-bold">Canales disponibles: @Model._PlanPro.Canales</h3>

    <form asp-action="Guardar" asp-controller="PlanSemanal" method="post" id="formSemanal" data-fecha="@Model._PlanPro.Fecha" data-id="@Model._PlanPro.Id">
        <input type="hidden" asp-for="_TodSemanal._PlanSemanal.fk_Plan" value="@Model._PlanPro.Id"/>
        <input type="hidden" asp-for="_TodSemanal._PlanSemanal.FechaIn" value="@Convert.ToDateTime(Model._TodSemanal._PlanSemanal.FechaIn).ToString("dd/MM/yyyy")" />
        <input type="hidden" asp-for="_TodSemanal._PlanSemanal.FechaFin" value="@Convert.ToDateTime(Model._TodSemanal._PlanSemanal.FechaFin).ToString("dd/MM/yyyy")" />
        
        <!-- ENCABEZADO -->
        <div class="row">
            <div class="col-12 col-md-3 mb-3">
                <label class="form-label">Mes de Producción</label>
                <input name="_PlanPro.Fecha" type="hidden" readonly class="form-control" value="@Model._PlanPro.Fecha" />
                <input type="text" readonly class="form-control" value="@Convert.ToDateTime(Model._PlanPro.Fecha).ToString("MMMM").ToUpper()" />
            </div>

            <div class="col-12 col-md-3 mb-3">
                <label class="form-label">Canales</label>
                <input asp-for="_TodSemanal._PlanSemanal.Canales" id="canalesInput" type="number" step="1" class="form-control" max="@Model._PlanPro.Canales"/>
            </div>

            <div class="col-12 col-md-3 mb-3">
                <label class="form-label">Kg Promedio</label>
                <input asp-for="_TodSemanal._PlanSemanal.PesoPromedio" id="kgPromedioInput" type="number" step="0.01" class="form-control" readonly/>
            </div>
             
            <div class="col-12 col-md-3 mb-3">
                <label class="form-label">Kg Estimados</label>
                <input asp-for="_TodSemanal._PlanSemanal.PesoTotal" id="kgEstimadosInput" type="number" step="0.01" class="form-control" max="@Model._PlanPro.PesoTotal" readonly/>
                <input type="hidden" value="@Model._PlanPro.PesoTotal" >
            </div>
        </div>

        <hr />

        <!-- TABLA -->
        <div class="table-responsive">
            <table class="table table-bordered align-middle">
                <thead class="table-danger">
                    <tr>
                        <th>#</th>
                        <th>SKU</th>
                        <th>%</th>
                        <th>Kilos</th>
                    </tr>
                </thead>
                <tbody id="masterBody">
                    
                    @foreach (var item in Model._TodSemanal._ListaDetalleSemanal)
                    {
                        <tr>
                            <td>@(index+1)</td>
                            <td><input name="_TodSemanal._ListaDetalleSemanal[@index].ProductoCodigo" class="form-control productoCodigo" value="@item.ProductoCodigo" readonly /></td>
                            <td><input name="_TodSemanal._ListaDetalleSemanal[@index].Porcentaje" type="number" step="0.01" class="form-control porcentajeInput" value="@item.Porcentaje" /></td>
                            <td><input name="_TodSemanal._ListaDetalleSemanal[@index].Peso" type="number" step="0.01" class="form-control kilosInput" value="@item.Peso" /></td>
                        </tr>
                        index++;
                    }
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-between align-items-center mt-3">
            <div>
                <button type="submit" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-secondary" 
                onclick="loadPartial('@Url.Action("Index", "PlanSemanal", new { id = Model._PlanPro.Id, fecha=Model._PlanPro.Fecha })',document.querySelector('.toolbar button[data-url=\'/Planeacion/Index\']'));return false;"
                >Cancelar</button>
            </div>
        </div>
    </form>
</div>



